
<about>
  <h1 id="AboutHeader">About</h1>
  <div class="grid-container">
    <div class="grid-childfirst">
      <img src="../assets/about/trentAbout.jpg" alt="AboutMePhoto" style="width: 300px; float: left;">
    </div>

    <div id="text-child">
      <p id="aboutme">Hi and thanks for visiting Blitz Analog!
        I'm Trenton Blitz Bricken and love film photography.

        <br> <br>
        Every image you see here has been taken with either the Leica M3,
        Rolleiflex 2.8f, or Fuji GSW690III. All photos are minimally edited
        because I care a lot about maximizing authenticity and letting my
        choice of film doing all the editing I need. However, I do
        sometimes need to remove dust while scanning and adjust for exposure and contrast. Most of
        these images are also developed and scanned by me in my personal darkroom.

        <br> <br> I am based in Boston and but also frequent London and
        travel quite a bit in general (as you can probably infer). Please contact me via email
        <a href = "mailto:blitz.analog@gmail.com">here</a> or
        reach out through
        <a href = "https://www.instagram.com/blitz_analog/">Instagram</a>
        to order prints, arrange for photoshoots, or just to say hello :).
      </p>
    </div>

  </div>


</about>
